.footer-sec {
    color: #453D43;
    font-family: 'Space Grotesk', Times, serif;

    .main-footer-wrapper {
        padding: 5rem 0;
        border-top: .06rem solid #A8A1A3;
        border-bottom: .06rem solid #A8A1A3;
        margin-bottom: 2.5rem;
        display: flex;
        justify-content: space-between;

        @media screen and (max-width:1024px) {
            margin-bottom: 3.125rem;
            padding: 6.25rem 0;
        }

        .description-wrapper {
            flex: 0 0 38.953%;
            max-width: 38.953%;

            @media screen and (max-width:1024px) {
                flex: 0 0 100%;
                max-width: 100%;
                text-align: center;
            }

            @media screen and (max-width:600px) {
                text-align: left;
            }

            .footer-logo-wrapper {
                margin-bottom: 3.75rem;

                @media screen and (max-width:1024px) {
                    margin-bottom: 4.6875rem;
                }

                .footer-logo {
                    fill: #000000;
                    max-width: 11.25rem;
                    max-height: 2.5rem;

                    @media screen and (max-width:1024px) {
                        max-width: 18.755rem;
                        max-height: 5rem;
                    }
                }
            }

            .description {

                .description-text {
                    font-family: 'Varela', Times, serif;
                    font-size: .875rem;
                    line-height: 1.571;
                    margin: 0;

                    @media screen and (max-width:1024px) {
                        font-size: 1.875rem;
                    }
                }
            }
        }

        .links-wrapper {
            flex: 0 0 47.733%;
            max-width: 47.733%;

            @media screen and (max-width:1024px) {
                display: none;
            }

            .links-columns-wrapper {
                display: flex;
                justify-content: space-between;
                
                .links-col {
                    min-width: 26.797%;
                    list-style: none;
                    padding: 0;
                    margin: 0;

                    .links-col-title {
                        font-weight: 700;
                        font-size: 1.5rem;
                        line-height: 1.276;
                        margin-bottom: 3.75rem;
                    }

                    .link-wrapper {
                        max-width: max-content;

                        &:not(:last-of-type) {
                            margin-bottom: 2.5rem;
                        }

                        .link {
                            display: flex;
                            align-items: center;
                            column-gap: .625rem;
                            text-decoration: none;
                            color: inherit;

                            &:hover {
                                cursor: pointer;
    
                                .link-arrow-span {
    
                                    .link-arrow {
                                        
                                        path {
                                            stroke: #A68B5C;
                                        }
                                    }
                                }
    
                                .link-text {
                                    color: #A68B5C;
                                    transform: translateX(.375rem);
                                    transition: all .3s ease-in-out;
                                }
                            }
    
                            .link-arrow-span {
                                display: flex;
                                align-items: center;
                                justify-content: center;
    
                                .link-arrow {
                                    width: 1.5rem;
                                    height: 1.5rem;
                                }
                            }
    
                            .link-text {
                                font-size: 1.125rem;
                                font-weight: 500;
                                line-height: 1.276;
                                transition: all .3s ease-in-out;
                            }
                        }

                    }
                }
            }
        }
    }

    .copyright-footer {
        display: flex;
        justify-content: space-between;
        align-items: center;

        .social-links-sec {
            display: flex;
            column-gap: 1.25rem;

            @media screen and (max-width:1024px) {
                column-gap: 2.5rem;
            }

            .social-link-wrapper {
                display: flex;
                border: .06rem solid;
                border-radius: 50%;

                &:hover {
                    color: #A68B5C;
                    cursor: pointer;

                    .social-link {

                        path {
                            fill: #A68B5C;
                        }
                    }
                }

                .social-link {
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    padding: 1.094rem;

                    @media screen and (max-width:1024px) {
                        padding: 1.641rem;
                    }

                    svg {
                        height: 1.563rem;
                        width: 1.563rem;

                        @media screen and (max-width:1024px) {
                            height: 2.344rem;
                            width: 2.344rem;
                        }
                    }
                }
            }
        }

        .copyright-text-sec {
            
            .copyright-text-wrapper {

                .copyright-text {
                    margin: 0;
                    font-family: 'Varela', Times, serif;
                    font-size: .875rem;
                    line-height: 1.429;

                    @media screen and (max-width:1024px) {
                        font-size: 1.563rem;
                    }
                }
            }
        }
    }
}