.signup-sec-wrapper {
    color: #453D43;
    font-family: 'Space Grotesk', Times, serif;
    display: flex;
    column-gap: 5rem;
    margin-bottom: 5rem;

    @media screen and (max-width:1024px) {
        column-gap: 3.125rem;
        margin-bottom: 6.25rem;
    }

    @media screen and (max-width:600px) {
        flex-direction: column;
        margin-bottom: 18.321rem;
    }

    .image-wrapper {
        flex: 0 0 12.791%;
        max-width: 12.791%;
        max-height: 13.962rem;

        
        @media screen and (max-width:1024px) {
            flex: 0 0 14.306%;
            max-width: 14.306%;
            max-height: 16.342rem;
        }
        
        @media screen and (max-width:600px) {
            flex: 0 0 100%;
            max-width: 100%;
            max-height: 41.527rem;
            margin-bottom: 12.214rem;
        }

        .pattern-image {
            width: 100%;
            height: auto;

            @media screen and (max-width:600px) {
                width: 40.898rem;
            }
        }
    }

    .titles-wrapper {
        flex: 0 0 30.231%;
        max-width: 30.231%;
        font-weight: 700;
        border-top: .06rem solid #A68B5C;

        @media screen and (max-width:1024px) {
            flex: 0 0 31.528%;
            max-width: 31.528%;
        }

        @media screen and (max-width:600px) {
            flex: 0 0 100%;
            max-width: 100%;
            border-top-color: #A8A1A3;
            margin-bottom: 9.161rem;
        }

        .small-title-wrapper {

            .small-title {
                font-size: 1.5rem;
                line-height: 1.275;
                color: #A68B5C;
                margin: 2.5rem 0;

                @media screen and (max-width:1024px) {
                    font-size: 2.5rem;
                    margin: 3.125rem 0;
                }

                @media screen and (max-width:600px) {
                    font-size: 6.107rem;
                    margin: 6.107rem 0 12.214rem;
                }
            }
        }

        .big-title-wrapper {

            .big-title {
                font-size: 2.5rem;
                line-height: 1.25;
                margin: 0;

                @media screen and (max-width:1024px) {
                    font-size: 3.125rem;
                }

                @media screen and (max-width:600px) {
                    font-size: 10.382rem;
                    letter-spacing: -.112rem;
                }
            }
        }
    }

    .sign-up-form-wrapper {
        flex: 0 0 47.675%;
        max-width: 47.675%;

        @media screen and (max-width:1024px) {
            flex: 0 0 48.611%;
            max-width: 48.611%;
        }

        @media screen and (max-width:600px) {
            flex: 0 0 100%;
            max-width: 100%;
        }

        .fields-wrapper {
            display: flex;
            gap: 1.25rem;
            flex-wrap: wrap;
            margin-bottom: 1.875rem;

            @media screen and (max-width:1024px) {
                gap: 1.563rem;
                margin-bottom: 3.125rem;
            }

            @media screen and (max-width:600px) {
                row-gap: 6.107rem;
                margin-bottom: 9.161rem;
            }

            .field-input-wrapper {
                flex: 0 0 48.769%;
                max-width: 48.769%;

                @media screen and (max-width:1024px) {
                    flex: 0 0 48.571%;
                    max-width: 48.571%;
                }

                @media screen and (max-width:600px) {
                    flex: 0 0 100%;
                    max-width: 100%;
                }

                .field-input {
                    background: #fff;
                    width: 100%;
                    border-radius: 3.75rem;
                    border: none;
                    outline: none;
                    padding: 1.475rem 1.875rem;
                    font-family: 'Varela', Times, serif;
                    font-size: 1rem;
                    line-height: 1.3;
                    color: #A8A1A3;

                    @media screen and (max-width:1024px) {
                        padding: 1.797rem 2.188rem;
                        font-size: 1.563rem;
                    }

                    @media screen and (max-width:600px) {
                        padding: 5.801rem 9.160rem;
                        font-size: 4.275rem;
                        border-radius: 10rem;
                    }

                    &::placeholder {
                        font-family: 'Varela', Times, serif;
                        font-size: 1rem;
                        line-height: 1.3 !important;
                        color: #A8A1A3;

                        @media screen and (max-width:1024px) {
                            font-size: 1.563rem;
                        }

                        @media screen and (max-width:600px) {
                            font-size: 4.275rem;
                        }
                    }
                }
            }
        }

        .checkbox-wrapper {
            display: flex;
            flex-wrap: wrap;
            gap: 1.25rem;
            margin-bottom: 2.5rem;

            @media screen and (max-width:1024px) {
                row-gap: 2.5rem;
                column-gap: 1.563rem;
            }

            @media screen and (max-width:600px) {
                row-gap: 5.496rem;
                margin-bottom: 9.161rem;
            }

            .wrapper-label {
                font-size: 1.125rem;
                font-weight: 500;
                color: #A68B5C;
                line-height: 1.276;
                flex: 0 0 100%;
                max-width: 100%;

                @media screen and (max-width:1024px) {
                    font-size: 2.187rem;
                    letter-spacing: -.03rem;
                }

                @media screen and (max-width:600px) {
                    font-size: 5.496rem;
                    letter-spacing: 0;
                    margin-bottom: 0.611rem;
                }
            }

            .checkbox {
                // flex: 0 0 max-content;
                // max-width: max-content;
                display: flex;
                align-items: center;
                position: relative;
                // cursor: pointer;

                @media screen and (max-width:600px) {
                    width: 100%;
                }

                .checkbox-input {
                    position: absolute;
                    opacity: 0;
                    height: 100%;
                    width: 100%;
                    margin: 0;
                    z-index: 1;
                    cursor: pointer;

                    &:checked {
                        &~ .custom-checkbox {
                            background: #fff;
                            border-color: #fff;

                            &::after {
                                display: block;
                            
                            }
                        }
                    }
                }

                .custom-checkbox {
                    height: 1.25rem;
                    width: 1.25rem;
                    border: .06rem solid #9A9194;
                    position: absolute;
                    // display: inline-block;
                    // top: 0;
                    // left: 0;

                    @media screen and (max-width:1024px) {
                        height: 2.5rem;
                        width: 2.5rem;
                    }

                    @media screen and (max-width:600px) {
                        height: 6.107rem;
                        width: 6.107rem;
                    }

                    &::after {
                        position: absolute;
                        // content: url('../../assets/images/checkbox_tick.png');
                        content: '';
                        background-image: url('../../assets/images/checkbox_tick.png');
                        background-size: 1rem .8rem;
                        background-repeat: no-repeat;
                        background-position: center;
                        display: none;
                        height: 100%;
                        width: 1.25rem;
                        /* align-items: center; */
                        /* justify-content: center; */
                        /* margin-top: 0.07rem; */
                        margin-left: -0.05rem;

                        @media screen and (max-width:1024px) {
                            background-size: 2rem 1.7rem;
                            width: 2.5rem;
                            margin-left: -0.1rem;
                        }

                        @media screen and (max-width:600px) {
                            background-size: 5rem 3.7rem;
                            width: 6.107rem;
                        }
                    }
                }

                .checkbox-label {
                    font-size: 1rem;
                    line-height: 1.276;
                    padding-left: 2rem;
                    letter-spacing: -.018rem;

                    @media screen and (max-width:1024px) {
                        padding-left: 4.063rem;
                        font-size: 1.875rem;
                    }

                    @media screen and (max-width:600px) {
                        padding-left: 9.161rem;
                        font-size: 4.885rem;
                        letter-spacing: -.155rem;
                    }
                }
            }
        }

        .cta-wrapper {
            display: flex;
            justify-content: space-between;

            @media screen and (max-width:1024px) {
                flex-direction: column;
                row-gap: 3.125rem;
            }

            @media screen and (max-width:600px) {
                row-gap: 12.214rem;
            }

            .description-wrapper {
                flex: 0 0 63.415%;
                max-width: 63.415%;

                @media screen and (max-width:1024px) {
                    flex: 0 0 100%;
                    max-width: 100%;
                }

                .description {
                    margin: 0;
                    font-family: 'Varela', Times, serif;
                    font-size: .875rem;
                    line-height: 1.571;

                    @media screen and (max-width:1024px) {
                        font-size: 1.563rem;
                    }

                    @media screen and (max-width:600px) {
                        font-size: 4.275rem;
                    }
                }
            }

            .submit-btn-wrapper {

                .submit-btn {
                    background: none;
                    outline: none;
                    border: .06rem solid;
                    border-radius: 3.75rem;
                    padding: 1.375rem 2rem;
                    display: flex;
                    align-items: center;
                    column-gap: .625rem;
                    font-size: 1.125rem;
                    font-weight: 500;
                    line-height: 1.276;
                    color: #453D43;
                    font-family: 'Space Grotesk', Times, serif;
                    cursor: pointer;

                    @media screen and (max-width:1024px) {
                        font-size: 1.875rem;
                        padding: 1.641rem 2.188rem;
                        column-gap: 0.938rem;
                    }

                    @media screen and (max-width:600px) {
                        width: 100%;
                        justify-content: center;
                        column-gap: 3.054rem;
                        font-size: 4.886rem;
                        padding: 4.886rem 0;
                        border-radius: 10rem;
                    }

                    .submit-arrow-span {
                        display: flex;
                        overflow: hidden;
                        align-items: center;
                        justify-content: center;

                        @media screen and (max-width:1024px) {
                            height: 2.813rem;
                            width: 2.813rem;
                        }

                        @media screen and (max-width:600px) {
                            height: 6.107rem;
                            width: 6.107rem;
                        }

                        .submit-arrow {
                            fill: #453D43;

                            @media screen and (max-width:1024px) {
                                height: 1.797rem;
                                width: 1.797rem;
                            }

                            @media screen and (max-width:600px) {
                                height: 3.817rem;
                                width: 3.817rem;
                            }

                            &.on-mouse-in {
                                animation-name: animateArrow;
                                animation-duration: .3s;
                                animation-iteration-count: 1;
    
                            }
    
                            @keyframes animateArrow {
                                0% {
                                    transform: translateX(0);
                                }
                                50% {
                                    transform: translateX(60%);
                                }
                                51% {
                                    transform: translateX(-60%);
                                }
                                100% {
                                    transform: translateX(0);
                                }
                            }
    
                            &.on-mouse-out {
                                animation-name: reverseAnimateArrow;
                                animation-duration: .3s;
                                animation-iteration-count: 1;
                            }
    
                            @keyframes reverseAnimateArrow {
                                0% {
                                    transform: translateX(0);
                                }
                                50% {
                                    transform: translateX(-60%);
                                }
                                51% {
                                    transform: translateX(60%);
                                }
                                100% {
                                    transform: translateX(0);
                                }
                            }
                        }
                    }
                }
            }
        }
    }
}