.signup-sec-wrapper {
    color: #453D43;
    font-family: 'Space Grotesk', Times, serif;
    display: flex;
    column-gap: 5rem;

    .image-wrapper {
        flex: 0 0 12.791%;
        max-width: 12.791%;
        max-height: 13.962rem;

        .pattern-image {
            width: 100%;
            height: auto;
        }
    }

    .titles-wrapper {
        flex: 0 0 30.231%;
        max-width: 30.231%;
        font-weight: 700;
        border-top: .06rem solid #A68B5C;

        .small-title-wrapper {

            .small-title {
                font-size: 1.5rem;
                line-height: 1.275;
                color: #A68B5C;
                margin: 2.5rem 0;
            }
        }

        .big-title-wrapper {

            .big-title {
                font-size: 2.5rem;
                line-height: 1.25;
                margin: 0;
            }
        }
    }

    .sign-up-form-wrapper {
        flex: 0 0 47.675%;
        max-width: 47.675%;

        .fields-wrapper {
            display: flex;
            gap: 1.25rem;
            flex-wrap: wrap;
            margin-bottom: 1.875rem;

            .field-input-wrapper {
                flex: 0 0 48.769%;
                max-width: 48.769%;

                .field-input {
                    background: #fff;
                    width: 100%;
                    border-radius: 3.75rem;
                    border: none;
                    outline: none;
                    padding: 1.475rem 1.875rem;
                    // padding: 1.469rem 1.875rem;
                    font-family: 'Varela', Times, serif;
                    font-size: 1rem;
                    line-height: 1.3;
                    color: #A8A1A3;

                    &::placeholder {
                        font-family: 'Varela', Times, serif;
                        font-size: 1rem;
                        line-height: 1.3 !important;
                        color: #A8A1A3;
                    }
                }
            }
        }

        .checkbox-wrapper {
            display: flex;
            flex-wrap: wrap;
            gap: 1.25rem;
            margin-bottom: 2.5rem;

            .wrapper-label {
                font-size: 1.125rem;
                font-weight: 500;
                color: #A68B5C;
                line-height: 1.276;
                flex: 0 0 100%;
                max-width: 100%;
            }

            .checkbox {
                // flex: 0 0 max-content;
                // max-width: max-content;
                display: flex;
                align-items: center;
                position: relative;
                // cursor: pointer;

                .checkbox-input {
                    position: absolute;
                    opacity: 0;
                    height: 100%;
                    width: 100%;
                    margin: 0;
                    z-index: 1;
                    cursor: pointer;

                    &:checked {
                        &~ .custom-checkbox {
                            background: #fff;
                            border-color: #fff;

                            &::after {
                                display: block;
                            
                            }
                        }
                    }
                }

                .custom-checkbox {
                    height: 1.25rem;
                    width: 1.25rem;
                    border: .06rem solid #9A9194;
                    position: absolute;
                    // display: inline-block;
                    // top: 0;
                    // left: 0;

                    &::after {
                        position: absolute;
                        // content: url('../../assets/images/checkbox_tick.png');
                        content: '';
                        background-image: url('../../assets/images/checkbox_tick.png');
                        background-size: 1rem .8rem;
                        background-repeat: no-repeat;
                        background-position: center;
                        display: none;
                        height: 100%;
                        width: 1.25rem;
                        /* align-items: center; */
                        /* justify-content: center; */
                        /* margin-top: 0.07rem; */
                        margin-left: -0.05rem;
                    }
                }

                .checkbox-label {
                    font-size: 1rem;
                    line-height: 1.276;
                    padding-left: 2rem;
                    letter-spacing: -.018rem;
                }
            }
        }

        .cta-wrapper {
            display: flex;
            justify-content: space-between;

            .description-wrapper {
                flex: 0 0 63.415%;
                max-width: 63.415%;

                .description {
                    margin: 0;
                    font-family: 'Varela', Times, serif;
                    font-size: .875rem;
                    line-height: 1.571;
                }
            }

            .submit-btn-wrapper {

                .submit-btn {
                    background: none;
                    outline: none;
                    border: .06rem solid;
                    border-radius: 3.75rem;
                    padding: 1.375rem 2rem;
                    display: flex;
                    align-items: center;
                    column-gap: .625rem;
                    font-size: 1.125rem;
                    font-weight: 500;
                    line-height: 1.276;
                    color: #453D43;
                    font-family: 'Space Grotesk', Times, serif;
                    cursor: pointer;

                    .submit-arrow-span {
                        display: flex;
                        overflow: hidden;
                        align-items: center;
                        justify-content: center;

                        .submit-arrow {
                            fill: #453D43;

                            &.on-mouse-in {
                                animation-name: animateArrow;
                                animation-duration: .3s;
                                animation-iteration-count: 1;
    
                            }
    
                            @keyframes animateArrow {
                                0% {
                                    transform: translateX(0);
                                }
                                50% {
                                    transform: translateX(60%);
                                }
                                51% {
                                    transform: translateX(-60%);
                                }
                                100% {
                                    transform: translateX(0);
                                }
                            }
    
                            &.on-mouse-out {
                                animation-name: reverseAnimateArrow;
                                animation-duration: .3s;
                                animation-iteration-count: 1;
                            }
    
                            @keyframes reverseAnimateArrow {
                                0% {
                                    transform: translateX(0);
                                }
                                50% {
                                    transform: translateX(-60%);
                                }
                                51% {
                                    transform: translateX(60%);
                                }
                                100% {
                                    transform: translateX(0);
                                }
                            }
                        }
                    }
                }
            }
        }
    }
}